<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="catalogue-item{% if post.url == url %} postlist-item-active{% endif %}">
    <h1 class="catalogue-title"><a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h1>
    <div class="catalogue-line"></div>
        <p>
          {{ post.templateContent | striptags | truncate(400) }}
        </p>
    <time class="catalogue-time" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tags-post">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
